body {
    margin: 0 auto;
    color: #000;
    font-weight: 600;
    line-height: 2em;
}



.navbar {
    
    background-color: #1e73be;
}

.navbar li {
    list-style-type: none;
}

.btn-danger {
    background-color: #f41a02;
    margin-top: 10px;
    text-align:  right;
}

.fa-facebook-square {
    margin-top: 7px;
    text-align: right;
}
 


#main, #about, #contact {
    height: auto;
    background-image: url(../images/hall_bg_3.jpg);
    background-position: center;
    background-repeat: no-repeat;
}


img {
    box-shadow: 10px 10px 10px #888888;
}

#contact {
    margin: 20px 0px 100px 0px;
    padding: 200px;
}


.platform {
    color: #f41a02;
    font-weight: bold;
}

#footer {
    height: 60px;
    padding: 20px;
    color: #FFF;
    background-color: #1e73be;
    text-align: center;
}

#footer a {
    color: #FFF;
    
}

@media only screen and (max-width: 600px) {
    #contact {
      margin: 0px;
      padding: 0px;
    }
  }

